<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/_header.ejs', {title: 'Grid System', page: '首頁'}) %>
</head>
<body>
    <div class="container">
        <div style="margin-right: -15px; margin-left: -15px;">
            <%- include('./layout/_nav.ejs', {page: 'index'})%>
            <h1><%= msg%></h1>
            <h2>Index HTML !!!</h2>
        </div>
    </div>
    <!-- body -->
    <%- include('./pages/_body.ejs')%>
    <!-- script -->
    <%- include('./layout/_script.ejs')%>
</body>
</html>
